body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #e09efe92;
  margin: 0;
  padding: 0;
}

h1 {
  color: #000000;
}

header {
  background: #d477ff;
  color: white;
  padding: 20px;
}

section {
  margin: 20px;
  padding: 40px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


a {
  color: #007bff;
  text-decoration: none;
}

footer {
  margin-top: 20px;
  padding: 10px;
  background: #222;
  color: white;
}

ul {
  list-style-type: none;
}
#contact {
  height: 245px;
}

#contact h2{
  font-size: 40px;
}
#about {
  text-align: left;
}

#about h2{
  font-size: 40px;
}

#experience {
  text-align: left;
}

#experience h2{
  font-size: 40px;
}

#projects {
  text-align: left;
  padding: 40px;
}

#projects h2 {
  font-size: 40px;
  margin-bottom: 20px;
  padding-left: 10px; 
}

#projects ul {
  padding: 0; 
  margin: 0;  
}

#projects li {
  margin-bottom: 30px; 
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  list-style-type: none; 
}

#projects li:last-child {
  margin-bottom: 0;
}


#skills {
  text-align: center;
  background: #ffffff; 
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#skills h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

#skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  padding: 0;
  gap: 10px; 
}

#skills li {
  font-size: 18px;
  background: #d477ff; 
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
  gap: 20px; 
  margin: 5px;
}

.section {
  flex: 1; 
  padding: 40px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
#aircraft_images {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  gap: 20px;
  
}

.url_shortner img{
  width: 800px; 
  height: 400px; 
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#aircraft_images img {
  width: 400px; 
  height: 250px; 
  object-fit: cover; 
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  
}

@media (max-width: 768px) {
  #aircraft_images {
    flex-direction: column;
    align-items: center;
  }

  #aircraft_images img {
    width: 100%;
    max-width: 400px;
    height: auto; 
  }

  .container {
    flex-direction: column;
  }

  .url_shortner img{
    width: 100%; 
    height: auto; 
  }
}

